//Website colors and some extra

$mc-black: #262626; 
// $mc-black: #343434; 
$mc-snowwhite: #fffafa;
// $mc-snowwhite: #fffafa;
$mc-dirytwhite: #f8ffa8; 
$mc-grey: #080808;
$mc-corona-grey: #d9d9d9; 
$mc-blue: #4f86f7; 

